<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"
        tools:targetApi="31">

        <activity android:name=".SignInActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ForgotPasswordActivity" android:exported="true">
            <!-- Thêm các cấu hình nếu cần thiết -->
        </activity>

        <activity android:name=".UserInfoActivity" android:exported="true">
            <intent-filter>
                <action android:name="com.example.applan1.USER_INFO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUpActivity" android:exported="true" />
        <activity android:name=".CompleteProfileActivity" android:exported="true"/>
        <activity android:name=".MainActivity" android:exported="true" android:label="APP" />

    </application>
</manifest>
